<html>

  <head>
    <meta charset='UTF-8' />
    <title>
      Bytte av hjelpemidler
    </title>
    {{#block 'behovsmelding/partials/style'}}{{/block}}
  </head>

  <body>
    <div id='header'>
      <img class='navlogo' src="images/Navlogo.png" />
      <h1 class='title'>Bytte av hjelpemidler</h1>
    </div>
    <div class='container'>

      <div>
        <div class='contentBlock'>
          <div class='contentBlock'>
            <table>
              <tr>
                <td style='vertical-align: baseline'>
                  <h2 class='typo-systemtittel'>Hjelpemiddelbruker</h2>
                </td>
                <td
                  style='vertical-align: baseline'
                  class='alignRight fixedWidthLabel'
                >
                  <p class='typo-normal'>Mottatt dato: {{formaterDato innsendingsdato}}</p>
                </td>
              </tr>
            </table>
          </div>

          <div class='alert info'>
            <img src="images/information-circle.png" class='info-circle' />
            <p class='typo-element info-tekst'>Brukerpass</p>
            <p class='info-tekst'>
              {{navn.fornavn}} {{navn.etternavn}}
              har brukerpass. Personen har selv meldt fra om behov for å bytte
              hjelpemidlet.
            </p>
          </div>

          <div class='contentBlock'>

            <div class='pdlOppslag'>
              <table>
                <tr>
                  <td class='fixedWidthLabel'>
                    <p class='typo-element'>Navn</p>
                  </td>
                  <td>
                    <p class='typo-normal'>{{navn.fornavn}} {{navn.etternavn}}</p>
                  </td>
                </tr>
                <tr>
                  <td class='fixedWidthLabel'>
                    <p class='typo-element'>Fødselsnummer</p>
                  </td>
                  <td>
                    <p class='typo-normal'>{{hjmBrukersFnr}}</p>
                  </td>
                </tr>
                <tr>
                  <td class='fixedWidthLabel'>
                    <p class='typo-element'>Adresse</p>
                  </td>
                  <td>
                    <p class='typo-normal'>{{folkeregistrertAdresse.adresse}},
                      {{folkeregistrertAdresse.postnummer}}
                      {{folkeregistrertAdresse.poststed}}</p>
                  </td>
                </tr>
                <tr>
                  <td colspan='2'>
                    <div class='pdlOppslagInfo'>
                        <img src="images/information-circle.png" />
                      <p class='typo-normal'>Opplysninger fra folkeregisteret</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class='contentBlock'>
          <h2 class='typo-systemtittel'>Hjelpemidler</h2>
        </div>

        <div class='contentBlock'>
          <table>
            <tr>
              <td colspan='3'>
                <p class='typo-etikett-liten' style='text-transform: uppercase'>
                  {{hjelpemiddel.iso6Tittel}}</p>
              </td>
            </tr>
            <tr>
              <td style='width: 5em'>
                <p class='typo-element'>{{hjelpemiddel.hmsArtNr}}</p>
              </td>
              <td>
                <p class='typo-element'>{{hjelpemiddel.artikkelnavn}}</p>
              </td>
              <td class='alignRight fixedWidthLabel'>
                <p class='typo-normal'>
                  1stk.
                </p>
              </td>
            </tr>

            <tr>
              <td style='padding-top: 0.5em' colspan='3'>
                <p class='typo-normal'>
                  <strong>Skal byttes inn</strong><br />
                  {{hjelpemiddel.hmsArtNr}}
                  {{hjelpemiddel.artikkelnavn}}
                </p>
              </td>
            </tr>

            <tr>
              <td style='padding-top: 0.5em' colspan='3'>
                <p class='typo-normal'>
                  <strong>Begrunnelse for bytte</strong><br />
                  {{#if byttebegrunnelse}}
                    {{byttebegrunnelse}}
                  {{else}}
                    {{#eq bytteårsak 'UTSLITT'}}
                      Hjelpemidlet er utslitt.
                    {{/eq}}
                    {{#eq bytteårsak 'ØDELAGT'}}
                      Hjelpemidlet er ødelagt.
                    {{/eq}}
                  {{/if}}
                </p>
              </td>
            </tr>

          </table>
        </div>

        <hr />

        <div class='contentBlock'>
          <h2 class='typo-systemtittel'>Levering</h2>
        </div>

        <div class='contentBlock'>
          <table>
            <tr>
              <td class='fixedWidthLabel'>
                <p class='typo-element'>Leveringsadresse</p>
              </td>
              {{#eq utleveringsmåte 'FOLKEREGISTRERT_ADRESSE'}}
                <td>
                  <p class='typo-normal'>Folkeregistrert Adresse</p>
                </td>
              {{/eq}}
              {{#eq utleveringsmåte 'OPPGITT_ADRESSE'}}
                <td>
                  <p class='typo-normal'>{{annenUtleveringsadresse.adresse}},
                    {{annenUtleveringsadresse.postnummer}}
                    {{annenUtleveringsadresse.poststed}}</p>
                </td>
              {{/eq}}
            </tr>

            <tr>
              <td class='fixedWidthLabel'>
                <p class='typo-element'>Kontaktperson</p>
              </td>
              <td>
                <p class='typo-normal'>{{navn.fornavn}} {{navn.etternavn}} (Hjelpemiddelbruker)</p>
              </td>
            </tr>
          </table>
        </div>
        <hr />

        <div class='contentBlock'>
          <p class='typo-element'>Informasjon om rettigheter og plikter</p>
          <p class='typo-normal'>På nav.no kan du lese om hjelpemiddelmottakeres rettigheter og plikter og hvordan Nav
            behandler personopplysninger. På lovdata.no kan du lese om hvilke vilkår som må være oppfylt for å få rett til
            hjelpemidler i folketrygdloven §10-5, §10-6 og §10-7.</p>
        </div>
      </div>
    </div>
    <div id='footer'>
      <span class='soknadsid'>{{id}}</span>
      <span class='sidetall'>side
        <span id='pagenumber'></span>
        av
        <span id='pagecount'></span></span>
    </div>

  </body>

</html>