<div class="header">
    {{> nav-logo }}
    <dl>
        <dt>Namn:</dt>
        <dd>{{barnetsFulleNavn}}</dd>
        <dt>Fødselsnummer:</dt>
        <dd>{{barnetsFodselsnummer}}</dd>
        <dt>Saksnummer:</dt>
        <dd>{{sakId}}</dd>
        {{#if saksbehandlersEnhetsnavn}}
            <dt>Enhet</dt>
            <dd>{{saksbehandlersEnhetsnavn}}</dd>
        {{/if}}
    </dl>
    <span>{{formaterDato brevOpprettetDato}}</span>
</div>