<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charSet="UTF-8"/>
    <title>Din søknad om tilskot til briller til born er stansa</title>
    {{> style}}
</head>
<body>
    {{> barnebriller/header.nynorsk}}
    <section>
        <h1>Din søknad om tilskot til briller til born er stansa</h1>
        <p>Hei,</p>
        <p>
            Den {{formaterDato mottattDato}} vart ein søknad om tilskot til briller
            behandla i den automatiske saksbehandlingsløysinga vår via optikarbedrifta {{optikerVirksomhetNavn}}
            ({{optikerVirksomhetOrgnr}}), ref. folketrygdlova § 10-7 a, jf. forskrift av 19. juli 2022 om stønad til
            briller til barn.
        </p>
        <p>Søknaden din vart stansa fordi den automatiske behandlinga:</p>
        <ul>
            {{#if begrunnelser.stansetEksisterendeVedtak}}
                <li>
                    viser at du har fått tilskot frå denne ordninga tidlegare i år, for ei brille bestilt
                    {{formaterDato forrigeBrilleDato}}. Det er berre mogleg å få tilskot frå denne ordninga éin gong
                    kvart kalenderår (forskrifta § 3).
                </li>
            {{/if}}
            {{#if begrunnelser.stansetOver18}}
                <li>
                    viser at du var over 18 år då brillene vart bestilte, {{formaterDato bestillingsDato}} (forskrifta
                    § 2).
                </li>
            {{/if}}
            {{#if begrunnelser.stansetIkkeMedlem}}
                <li>
                    ikkje kunne finna ut om du var medlem av folketrygda då brillene vart bestilte
                    {{formaterDato bestillingsDato}}. Dette er eit vilkår for å ha rett til stønad (folketrygdlova §
                    10-7 a).
                </li>
            {{/if}}
            {{#if begrunnelser.stansetForLavBrillestyrke}}
                <li>
                    viser at du ikkje oppfyller kravet til brillestyrke (forskrifta § 2). Brillestyrken på
                    minst eitt glas må vera ≥ 1,00D og/eller cylinderstyrke på minst eitt glas må vera ≥ 1,00D.
                    Opplysningane som vart sende til oss av optikaren din viser at ditt høgre auge har sfærisk styrke
                    {{sfæriskStyrkeHøyre}} og cylinderstyrke {{cylinderstyrkeHøyre}}, og ditt venstre auge har sfærisk
                    styrke {{sfæriskStyrkeVenstre}} og cylinderstyrke {{cylinderstyrkeVenstre}}.
                </li>
            {{/if}}
            {{#if begrunnelser.stansetBestillingsdatoEldreEnn6Mnd}}
                <li>
                    viser at det er over 6 månader sidan brillene vart bestilte, {{formaterDato bestillingsDato}}
                    (forskrifta § 6).
                </li>
            {{/if}}
        </ul>
    </section>
    <section>
        <h2>Du kan få søknaden vurdert av ein saksbehandlar</h2>
        <p>
            Dersom du ønskjer å få kravet vurdert av ein saksbehandlar, kan du sjølv senda inn søknad. Søknadsskjema
            finn du på <a href="https://nav.no/briller-til-barn">nav.no/briller-til-barn.</a>
        </p>
    </section>
    {{> barnebriller/har-du-sporsmaal.nynorsk}}
    {{> barnebriller/kontakt-oss.nynorsk ingen-signatur-nodvendig=true}}
</body>
</html>