<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charSet="UTF-8"/>
    <title>Du får tilskot til briller</title>
    {{> style.partial }}
</head>
<body class="body">
<div>
    <div class="header">
        <div class="ikon-og-dato">
            {{> nav-logo.partial }}
            <p>{{brevOpprettetDato}}</p></div>
        <div class="tittel-og-personinfo"><h2 class="tittel">Du får tilskot til briller</h2></div>
    </div>
    <div style="min-height:1rem" class="block">Namn: {{barnetsFulleNavn}}</div>
    <div style="min-height:1rem" class="block">Fødselsnummer: {{barnetsFodselsnummer}}</div>
    <div style="min-height:1rem" class="block"></div>
    <div style="min-height:1rem" class="block">Hei, <br/><br/>Vi har behandla søknaden din om tilskot til briller, som vi fekk
        {{mottattDato}}. Du får {{belop}} kroner frå oss for brilla som vart bestilt {{bestillingsDato}}. Pengane vil
        bli utbetalte til kontonummeret {{utbetalesTilNavn}} har registrert hos Nav. Viss du lurer på noko rundt
        kontonummer, sjå informasjon på nav.no/kontonummer
    </div>
    <div style="min-height:1rem" class="block"></div>
    <div style="min-height:1rem" class="block"><strong>Slik har vi komme fram til kor mykje du får</strong><br/>Det er
        brillestyrken din som avgjer kor mykje du kan få i tilskot. Ut frå brillestyrken du har oppgitt kjem du inn
        under sats {{sats}} (opptil {{satsBelop}} kroner).
        {{#if belopMindreEnnSats}}Du kan ikkje få meir i tilskot enn det brilla kosta. Ifølgje dokumentasjonen du har
        sendt oss, kosta brilla {{belop}} kroner, og dette er beløpet du vil få utbetalt.{{/if}}
        Ifølgje dokumentasjonen har ditt høgre auge sfærisk styrke
        {{sfæriskStyrkeHøyre}} og cylinderstyrke {{cylinderstyrkeHøyre}}, og ditt venstre auge har sfærisk styrke
        {{sfæriskStyrkeVenstre}} og cylinderstyrke {{cylinderstyrkeVenstre}}.
    </div>
    <div style="min-height:1rem" class="block">Du kan lese meir om krava og satsane på nav.no/briller-til-barn</div>
    <div style="min-height:1rem" class="block"><br/><strong>Du kan få tilskot til eitt par briller kvart
        år</strong><br/>Neste gong du kan søkje om tilskot etter denne ordninga, er for briller som blir bestilte etter
        {{nesteKravdato}}.
    </div>
    <div style="min-height:1rem" class="block"></div>
    <div style="min-height:1rem" class="block"><strong>Du har fått tilskot etter eit bestemt regelverk</strong><br/>Vedtaket
        er gjort etter folketrygdloven §10-7 a, jf. forskrift av 19.juli 2022 om stønad til briller til barn. Vi gjer
        merksam på at viss opplysningane du har gitt oss er mangelfulle eller feilaktige, kan det føre til krav om
        tilbakebetaling av feilutbetalt beløp.
    </div>
    <div style="min-height:1rem" class="block"><br/>Dette er ein av fleire ordningar for barn som treng briller.
        Ordninga dekkjer briller med glas, innfatning og brilletilpassing. Du kan ikkje få tilskot til synsundersøking
        eller kontaktlinser på denne ordninga. Merk at det finst andre ordningar som kan gi rett til støtte viss du har
        nedsett syn, sjå nav.no/syn
    </div>
    <div style="min-height:1rem" class="block"></div>
    <div class="delmal">
        <div style="min-height:1rem" class="block"><strong>Du har rett til å klage</strong><br/>Viss du er usamd i
            vedtaket, har du rett til å klage. Du kan klage innan seks veker frå du fekk vedtaket. Du finn skjema og
            informasjon på nav.no/klage
        </div>
    </div>
    <div style="min-height:1rem" class="block"></div>
    <div class="delmal">
        <div style="min-height:1rem" class="block"><strong>Du har rett til innsyn</strong><br/>Vi har dessverre ikkje
            høve til å vise føresett eller verje saka og tilhøyrande dokument på nav.no. Du kan ta kontakt med oss viss
            du treng innsyn i saka di.
        </div>
    </div>
    <div style="min-height:1rem" class="block"></div>
    <div class="delmal">
        <div style="min-height:1rem" class="block"><strong>Har du spørsmål?</strong><br/>Du finn meir informasjon på
            nav.no/briller-til-barn. Dersom du ikkje finn svar på spørsmålet ditt, ta kontakt med oss.
        </div>
    </div>
    <div style="min-height:1rem" class="block"></div>
    {{> hotsak.delmal.kontakt-oss.nynorsk.partial }}
</div>
</body>
</html>