<html>
<head>
    {{> style.partial }}
</head>
<body>
    {{> header.partial }}
    <h1>Du får tilskudd til briller</h1>
    <p>Navn: {{navn}}<br/>Fødselsnummer: {{fødselsnummer}}</p>
    <p>Hei,</p>
    <p>Vi har behandlet søknaden din om tilskudd til briller, som vi mottok {{kravDato}}. Du får
        {{beløp}} kroner fra oss for brillene som ble bestilt 4. juli 2025. Pengene vil bli utbetalt til
        kontonummeret {{navn}} har registrert hos Nav. Hvis du lurer på noe rundt kontonummer, se
        informasjon på nav.no/kontonummer</p>
    <h2>Slik har vi kommet fram til hvor mye du får</h2>
    <p>Deter brillestyrken din som bestemmer hvor mye du kan få i tilskudd. Ut ifra brillestyrken du har
        oppgitt kommer du inn under sats {{satsnummer}} (opptil {{sats}} kroner). Ifølge dokumentasjonen
        har ditt høyre øye sfærisk styrke {{høyreSfære}} og cylinderstyrke {{høyreCylinder}}, og ditt
        venstre øye har sfærisk styrke {{venstreSfære}} og cylinderstyrke {{venstreCylinder}}. Du kan
        lese mer om kravene og satsene på nav.no/briller-til-barn</p>
    <h2>Du kan få tilskudd til ett par briller hvert år</h2>
    <p>Neste gang du kan søke om tilskudd etter denne ordningen, er for briller som bestilles etter 1.
        januar {{nesteÅrstall}}.</p>
</body>
</html>