<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charSet="UTF-8"/>
    <title>Du får ikkje tilskot til briller</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/logo-og-bruker.nynorsk}}
    <section>
        <h1>Du får ikkje tilskot til briller</h1>
        <p>Hei,</p>
        <p>
            Vi har avslått søknaden din om tilskot til briller, som vi fekk {{formaterDato mottattDato}}.
            Vedtaket er gjort etter folketrygdloven §10-7 a, jf. forskrift av 19. juli 2022 om stønad til briller til barn.
        </p>
    </section>
    <section>
        <h2>Bakgrunn for avslaget</h2>
        <p>Vi har avslått søknaden din fordi:</p>
        <ul>
            {{#if begrunnelser.avslagEksisterendeVedtak}}
                <li>
                    du fekk tilskot til briller bestilt {{formaterDato forrigeBrilleDato}}. Det er berre mogleg å få
                    tilskot frå denne ordninga éin gong kvart kalenderår (§3).
                </li>
            {{/if}}
            {{#if begrunnelser.avslagOver18}}
                <li>du var over 18 år då brilla vart bestilt, {{formaterDato bestillingsDato}} (§2).</li>
            {{/if}}
            {{#if begrunnelser.avslagIkkeMedlem}}
                <li>
                    du var ikkje medlem av folketrygda då brilla vart bestilt, {{formaterDato bestillingsDato}}
                    (folketrygdloven § 10-7 a).
                </li>
            {{/if}}
            {{#if begrunnelser.avslagForLavBrillestyrke}}
                <li>
                    brillestyrken din er lågare enn minstekrava for ordninga (§2). Brillestyrken på minst eitt glas må
                    vere ≥ 1,00D og/eller cylinderstyrke på minst eitt glas må vere ≥ 1,00D. Dokumentasjonen du har
                    sendt oss viser at ditt høgre auge har sfærisk styrke {{sfæriskStyrkeHøyre}} og cylinderstyrke
                    {{cylinderstyrkeHøyre}}, og ditt venstre auge har sfærisk styrke {{sfæriskStyrkeVenstre}} og
                    cylinderstyrke {{cylinderstyrkeVenstre}}. Du kan lese meir om krava
                    på <span class="lenke">nav.no/briller-til-barn</span>.
                </li>
            {{/if}}
            {{#if begrunnelser.avslagBestillingsdatoEldreEnn6Mnd}}
                <li>det er over 6 månader sidan brilla vart bestilt, {{formaterDato bestillingsDato}} (§6).</li>
            {{/if}}
            {{#if begrunnelser.avslagIkkeBestiltHosOptiker}}
                <li>
                    vi ikkje kan sjå ut frå dokumentasjonen du har sendt oss at brilla er bestilt hos ein optikar. Dette
                    er eit krav for å få støtte (§ 2).
                </li>
            {{/if}}
            {{#if begrunnelser.avslagBrilleglass}}
                <li>
                    vi ikkje kan sjå ut frå dokumentasjonen du har sendt oss at du har kjøpt brilleglas. Dette
                    er eit krav for å få støtte (§ 2). Vi kan ikkje gje støtte i tilfelle der det til dømes er bestilt
                    kontaktlinser, eller innfatning utan brilleglas med styrke.
                </li>
            {{/if}}
            {{#if begrunnelser.avslagAbonnement}}
                <li>
                    dokumentasjonen viser at brilla inngår i eit abonnement. Regelverket gir ikkje rett til tilskot til
                    briller som inngår i ein slik avtale (§ 2). Dette er fordi eit abonnement ikkje blir rekna som kjøp
                    av brille, men ei form for leigeavtale.
                </li>
            {{/if}}
        </ul>
    </section>
    {{> barnebriller/klage.nynorsk}}
    {{> barnebriller/rett-til-innsyn.nynorsk}}
    {{> barnebriller/har-du-sporsmaal.nynorsk}}
    {{> barnebriller/kontakt-oss.nynorsk ingen-signatur-nodvendig=true}}
</body>
</html>