<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charSet="UTF-8"/>
    <title>Du får tilskudd til briller</title>
    {{> style bunntekst=(concat 'Saksnummer: ' sakId)}}
</head>
<body>
    {{> barnebriller/header.bokmal}}
    <section>
        <h1>Du får tilskudd til briller</h1>
        <p>Hei,</p>
        <p>
            Vi har behandlet søknaden din om tilskudd til briller, som vi mottok {{formaterDato mottattDato}}.
            Du får {{belop}} kroner fra oss for brillene som ble bestilt {{formaterDato bestillingsDato}}.
            Pengene vil bli utbetalt til kontonummeret {{utbetalesTilNavn}} har registrert hos Nav. Hvis du lurer på noe
            rundt kontonummer, se informasjon på <a href="https://nav.no/kontonummer">nav.no/kontonummer.</a>
        </p>
    </section>
    <section>
        <h2>Slik har vi kommet fram til hvor mye du får</h2>
        <p>
            Det er brillestyrken din som bestemmer hvor mye du kan få i tilskudd. Ut
            ifra brillestyrken du har oppgitt kommer du inn under sats {{sats}} (opptil {{satsBelop}} kroner).
            {{#if belopMindreEnnSats}}Du kan ikke få mer i tilskudd enn det brillene koster. Ifølge dokumentasjonen
            du har sendt oss, kostet brillene {{belop}} kroner, og dette er beløpet du vil få utbetalt.{{/if}}
            Ifølge dokumentasjonen har ditt høyre øye sfærisk styrke {{sfæriskStyrkeHøyre}} og cylinderstyrke
            {{cylinderstyrkeHøyre}}, og ditt venstre øye har sfærisk styrke {{sfæriskStyrkeVenstre}} og cylinderstyrke
            {{cylinderstyrkeVenstre}}. Du kan lese mer om kravene og satsene på
            <a href="https://nav.no/briller-til-barn">nav.no/briller-til-barn.</a>
        </p>
    </section>
    <section>
        <h2>Du kan få tilskudd til ett par briller hvert år</h2>
        <p>Neste gang du kan søke om tilskudd etter denne ordningen, er for briller som bestilles etter {{formaterDato nesteKravdato}}.</p>
    </section>
    <section>
        <h2>Du har fått tilskudd etter et bestemt regelverk</h2>
        <p>
            Vedtaket er gjort etter folketrygdloven § 10-7 a, jf. forskrift av 19. juli
            2022 om stønad til briller til barn. Vi gjør oppmerksom på at hvis opplysningene du har gitt oss er mangelfulle
            eller feilaktige, kan det føre til krav om tilbakebetaling av feilutbetalt beløp.
        </p>
        <p>
            Dette er en av flere ordninger for barn som trenger briller. Ordningen dekker briller med glass, innfatning
            og brilletilpasning. Du kan ikke få tilskudd til synsundersøkelse eller kontaktlinser på denne ordningen.
            Merk at det finnes andre ordninger som kan gi rett til støtte hvis du har nedsatt syn, se
            <a href="https://nav.no/syn">nav.no/syn.</a>
        </p>
    </section>
    {{> barnebriller/klage.bokmal}}
    {{> barnebriller/rett-til-innsyn.bokmal}}
    {{> barnebriller/har-du-sporsmaal.bokmal}}
    {{> barnebriller/kontakt-oss.bokmal}}
</body>
</html>